#profile-img{
    max-width: 40%;
    border: solid black 2px;
    border-radius: 5px;
}

#background-img{
    max-width: 140%;
}

#welcome{
    background-image: url(../img/img5.jpg);
    background-size: 100%;
    background-position: center -57px;
    height: 140px;
}

#welcome-text{
    color: white;
    margin: 0 auto;
    font-size: 60px;
}

.welcome-letter{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 600;
}

.align-center{
    text-align: center;
}

